.overflow{
    background-color: lightblue;
    border: 1px solid red;
    width: 500px;
    height: 300px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    overflow: auto;

    resize: horizontal;
}