.box{
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    background: rgb(98, 209, 246);
    margin: 100px auto;

    /* rotate, skew, scale, translate */
    transition: transform 1s ease-in-out;

    /* transform: translateX(50px); */
}

.box:hover{
    transform-origin: bottom left;
    transform: rotate(20deg);
    /* transform: skew(20deg); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: scale(2); */
    /* transform: scale(2, 4); */
    /* transform: translateX(50px); */
    /* transform: translate(50px, 100px); */
}